In [1]:
#Import Dependecies
import pandas as pd

In [11]:
povertyDF = pd.read_csv('data/poverty_status/ACS_14_1YR_S1701_with_ann.csv')
povertyDF[:5]

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC01_EST_VC03,...,HC02_EST_VC62,HC02_MOE_VC62,HC03_EST_VC62,HC03_MOE_VC62,HC01_EST_VC65,HC01_MOE_VC65,HC02_EST_VC65,HC02_MOE_VC65,HC03_EST_VC65,HC03_MOE_VC65
0,Id,Id2,Geography,Total; Estimate; Population for whom poverty s...,Total; Margin of Error; Population for whom po...,Below poverty level; Estimate; Population for ...,Below poverty level; Margin of Error; Populati...,Percent below poverty level; Estimate; Populat...,Percent below poverty level; Margin of Error; ...,Total; Estimate; AGE - Under 18 years,...,Below poverty level; Estimate; Did not work,Below poverty level; Margin of Error; Did not ...,Percent below poverty level; Estimate; Did not...,Percent below poverty level; Margin of Error; ...,Total; Estimate; PERCENT IMPUTED - Poverty sta...,Total; Margin of Error; PERCENT IMPUTED - Pove...,Below poverty level; Estimate; PERCENT IMPUTED...,Below poverty level; Margin of Error; PERCENT ...,Percent below poverty level; Estimate; PERCENT...,Percent below poverty level; Margin of Error; ...
1,0400000US01,1,Alabama,4727549,2783,910175,25515,19.3,0.5,1092537,...,166177,6988,47.7,1.3,29.9,(X),(X),(X),(X),(X)
2,0400000US02,2,Alaska,717723,893,80627,6821,11.2,0.9,182498,...,14141,1625,42.6,3.9,26.8,(X),(X),(X),(X),(X)
3,0400000US04,4,Arizona,6573369,3679,1199061,26607,18.2,0.4,1591778,...,210838,8236,44.4,1.4,30.9,(X),(X),(X),(X),(X)
4,0400000US05,5,Arkansas,2882856,1835,543882,15436,18.9,0.5,695711,...,106892,5330,49.4,1.9,26.2,(X),(X),(X),(X),(X)

In [12]:
povertyDF = povertyDF.iloc[:,[0,2,7]]

In [13]:
povertyDF.head()

,GEO.id,GEO.display-label,HC03_EST_VC01
0,Id,Geography,Percent below poverty level; Estimate; Populat...
1,0400000US01,Alabama,19.3
2,0400000US02,Alaska,11.2
3,0400000US04,Arizona,18.2
4,0400000US05,Arkansas,18.9

In [14]:
povertyDF = povertyDF.drop([0])
povertyDF = povertyDF.rename(columns={'GEO.id': 'id', 'GEO.display-label': 'state','HC03_EST_VC01':"Poverty Percentage"})

In [15]:
povertyDF[:5]

            id       state Poverty Percentage
1  0400000US01     Alabama               19.3
2  0400000US02      Alaska               11.2
3  0400000US04     Arizona               18.2
4  0400000US05    Arkansas               18.9
5  0400000US06  California               16.4